<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'game_list' %}" class="logo">GameStore</a>

        <div class="nav-links">
            <a href="{% url 'game_list' %}">Игры</a>

            <a href="{% url 'cart_detail' %}">Корзина</a>

            {% if user.is_authenticated %}
                <a href="{% url 'game_create' %}">Добавить игру</a>
                <span>Привет, {{ user.username }}</span>
                <a href="#">Выйти</a>
            {% else %}
                <a href="#">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>