{% extends 'games/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-card page-card-form">
    <h1>{{ title }}</h1>

    <form method="post" enctype="multipart/form-data" class="app-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'game_list' %}" class="btn btn-secondary">Назад</a>
        </div>
    </form>
</div>
{% endblock %}